
#Header{
	width: 500px
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	text-align: center;

}

#leftnav {
	width: 400px;
	border:solid 8px black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	float:left; 
	text-align: center;
	padding-bottom: 8px;
}
#header h1{ 
	font-size: 60px; font-family: "Passion One"; color: #FFBC00; font-weight: bold;

}

#content{
	color: white; font-family: arial;

}
#content{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	text-align: center;
	padding: 15px;
}
#footer{
	border:solid 8px black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 700px;
	text-align: center;

}
ul{
	list-style-type: none;
	padding-left: 8px;
}
h3{
	color: Black; font font-size: 40;
	font-family: 'Passion One'
	margin border: 8px;

}
h4{
	background-color: black;

}

#Body{
	background-color: black;
	background-image: ('wood jpg');
}

a{
	color: white
	font-weight bold;
	font-size: 24px;
}



